.main{
    margin-top: 100px;
    color: white;
    height: 100vh;
}

thead tr th{
    border: solid 12px black;
    text-align: center;

}

tr td{
    align-items: center;
}

table.purpleHorizon {
    margin: 0 auto;
    border: 2px solid rgba(57, 255, 20, 0.56);
    background-color: #555555;
    width: 800px;
    text-align: center;
    border-collapse: collapse;

}

.button{
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
}

.buttonDelete{
    border: none;
    color: #120952;
    background: white;
    height: 20px;
    text-transform: uppercase;
}

.valueStuffBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.valueStuff{
    margin: 0 5px;
}
.totalPrice{
    font-family: 'Press Start 2P', cursive;
    color: yellow;
}
table.purpleHorizon td, tabvalueStuffle.purpleHorizon th {
    /*border: 10px solid #cd0303;*/
    padding: 5px 2px;
    border-collapse: collapse;
        text-align: center;

}

.tdName{
    width: 400px;
}
table.purpleHorizon tbody {
    border-collapse: collapse;
    border: 1px solid rgb(57, 255, 20);
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;

}
table.purpleHorizon tr:nth-child(even) {
    background: #CC3BFC;
    text-align: center;

}
table.purpleHorizon thead {
    text-align: center;
    background: #792396;
    border: 2px solid rgba(57, 255, 20, 0.56);
}
table.purpleHorizon thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border: 2px solid rgba(57, 255, 20, 0.56);
}
table.purpleHorizon thead th:first-child {
    border-left: none;
}

table.purpleHorizon tfoot {
    text-align: center;

    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background: #CE3CFF;
    background: -moz-linear-gradient(top, #da6dff 0%, #d34fff 66%, #CE3CFF 100%);
    background: -webkit-linear-gradient(top, #da6dff 0%, #d34fff 66%, #CE3CFF 100%);
    background: linear-gradient(to bottom, #da6dff 0%, #d34fff 66%, #CE3CFF 100%);
    border-top: 5px solid #39ff14;
}

.totalPrice{
    font-weight: bold;
    margin-top: 40px;
    font-size: 70px;
    text-align: center;
}